<!DOCTYPE html>
<html>
  <head>
    <title>CF!-Donate</title>
    <link rel="stylesheet" href="wrap.css" />
    <link rel="icon" type="image/x-icon" href="./cow.png" />
  </head>
  <body style="background-color: rgb(177, 161, 161)">
    <h1
      style="
        font-size: x-large;
        text-align: center;
        color: rgb(50, 24, 71);
        font-family: 'Courier New', Courier, monospace;
      "
    >
      <i>Cow</i>Funding!
    </h1>
    <p
      style="
        padding-block-start: 5px;
        padding-block-end: 5px;
        text-align: center;
        background-color: rgb(80, 74, 74);
        color: whitesmoke;
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      "
    >
      <link rel="stylesheet" href="styles.css" />
      A place where you can find your way through life projects! And still see a
      bunch of
      <i
        ><b
          ><a
            href="https://www.collinsdictionary.com/images/full/cow_55631443.jpg"
            target="_blank"
            alt="Cow"
            >cows!</a
          ></b
        ></i
      ><br />
      Isn't that exciting?
    </p>
    <br>
    <p style="text-align: center; font-size: large;border-color:rgb(80, 74, 74);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      Choose your path.<hr style="width: 300px;">
    </p>
    <p style="text-align: center; font-size: large;border-color:rgb(80, 74, 74);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      To help others!
    </p>
    <div class="wrap">
      <p id="leftbox" style=" padding-inline-start: 10px; padding-block-start: 10px; padding-inline-end: 10px; padding-block-end: 10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; background-color: rgb(146, 132, 132);">
        <a href="http://127.0.0.1:5500/lilcow/front-lilcow/Youchoseone.html" style="text-decoration: none;"><b>Cows</b><br></a>
        <i>Rafael Camargo</i><br>
        My cows are suffering from Lambami! Help me save them!<br>
        <mark style="border-radius: 5px; background-color: gray;">Minimum Donation:</mark> 10k ETH.
        <br>
        <mark style="border-radius: 5px; background-color: gray;">Goal:</mark> 300k ETH.
      </p>
      <p id="middlebox" style=" padding-inline-start: 10px; padding-block-start: 10px; padding-inline-end: 10px; padding-block-end: 10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; background-color: rgb(146, 132, 132);">
        <a href="http://127.0.0.1:5500/lilcow/front-lilcow/Youchoseone.html" style="text-decoration: none;"><b>Ox</b><br></a>
        <i>Daniel Cavassani</i><br>
        I love oxen.<br>
        <mark style="border-radius: 5px; background-color: gray;">Minimum Donation:</mark> 1 ETH.
        <br>
        <mark style="border-radius: 5px; background-color: gray;">Goal:</mark> 301k ETH.
      </p>
      <p id="rightbox" style=" padding-inline-start: 10px; padding-block-start: 10px; padding-inline-end: 10px; padding-block-end: 10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; background-color: rgb(146, 132, 132);">
        <a href="http://127.0.0.1:5500/lilcow/front-lilcow/Youchoseone.html" style="text-decoration: none;"><b>2 Cows</b><br></a>
        <i>Luís Felipe</i><br>
        I hate cows. Want to get rid of them.<br>
        <mark style="border-radius: 5px; background-color: gray;">Minimum Donation:</mark> 3 ETH.
        <br>
        <mark style="border-radius: 5px; background-color: gray;">Goal:</mark> 303 ETH.
      </p>
    </div>
    <script src="infinitescroll.js"></script>
  </body>
</html>
